.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background: rgb(54, 38, 133);
  background: linear-gradient(
    180deg,
    rgba(54, 38, 133, 1) 0%,
    rgba(92, 34, 128, 1) 25%,
    rgba(125, 30, 129, 1) 50%,
    rgba(225, 117, 170, 1) 100%
  );
}

.parallax-container h1 {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 280px;
}

.parallax-container p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 260px;
}

.front-text {
  fill: none;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff,
    -2px 2px 0 #fff;
}

.parallax-container img {
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);
  pointer-events: none;
  max-width: none;
  height: 190vh;
  transition: 0.5s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.parallax-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(5, 8, 22, 1) 100%
  );
}

.parallax-container::after {
  z-index: 9;
}

@media screen and (width < 780px) {
  .parallax-container h1,
  .parallax-container p {
    width: 80%;
    text-align: center;
  }
}

/* start outlined text*/
.front-text {
  color: white;
  box-sizing: border-box;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .front-text {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    box-sizing: border-box;
    text-stroke: 2px #fff;
    text-shadow: none;
  }
}

p.front-text {
  color: white;
  box-sizing: border-box;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  p.front-text {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    box-sizing: border-box;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

/* end outlined text*/
